body {
    overflow:hidden;
    .playerContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px
    }
    .player {
        border: 2px solid black;
        padding: 5px;
        text-align: center;
    }
}
