body {
    overflow:hidden;
    .playerContainer {
        display: flex;
        flex-wrap: wrap;
    }
    #players {
        border-width: .5vw;
        border-color: rgb(255, 250, 243);
        border-style: solid;
    }
}
